<div class="card-body">
    <div class="list-group">
        <a href="#" class="list-group-item clearfix d-block">
            Total consultant
            <span class="float-right text-muted small"><em>326</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
                > 12 months
            <span class="float-right text-muted small"><em>115</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            >= 12 months & < 18 months
            <span class="float-right text-muted small"><em>28</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
                > 18 months
            <span class="float-right text-muted small"><em>183</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
                % > 12 m
            <span class="float-right text-muted small"><em>35 %</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
                % > 18 m
            <span class="float-right text-muted small"><em>9%</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
                % > 24 m
            <span class="float-right text-muted small"><em>56%</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
                Total Tenure of all consultants @ BBH in current position (in months )
            <span class="float-right text-muted small"><em>8920</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
                Average Tenure of consultant @ BBH in current position (in months )
            <span class="float-right text-muted small"><em>27</em></span>
        </a>
    </div>
    <!-- /.list-group -->
    
</div>
