<div [@routerTransition]>
    <app-page-header [heading]="'Add new resource'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Name</label>
                    <input class="form-control">
                    <p class="help-block">Enter full name.</p>
                </fieldset>

                <fieldset class="form-group">
                    <label>Project</label>
                    <input class="form-control" placeholder="Enter project">
                </fieldset>

                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" placeholder="Enter email">
                </div>

                <fieldset class="form-group">
                    <label for="exampleInputFile">Profile upload</label>
                    <input type="file" class="form-control-file" id="exampleInputFile">
                </fieldset>

                <fieldset class="form-group">
                    <label>Skill set</label>
                    <textarea class="form-control" rows="3"></textarea>
                </fieldset>

                <div class="form-group">
                    <label>Billing Type</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Buffer
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Billable
                        </label>
                    </div>
                    
                </div>

                <div class="form-group">
                    <label>Skill Set : </label>
                    <label class="checkbox-inline">
                        <input type="checkbox">Java
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox">Mainfarme
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox">Testing
                    </label>
                </div>

                <fieldset class="form-group">
                    <label>Project Type</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> QA
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> IT
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Support
                        </label>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Project Config</label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked="">Staff Aug
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">SD
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">Out come
                    </label>
                </fieldset>

                <div class="form-group">
                    <label>Projects</label>
                    <select class="form-control">
                        <option>MFPS</option>
                        <option>Fx Systems</option>
                        <option>UAF</option>
                        <option>Found Accounting</option>
                        <option>CID</option>
                    </select>
                </div>

                <fieldset class="form-group">
                    <label>Skills</label>
                    <select multiple="" class="form-control">
                        <option>Java 1.8</option>
                        <option>Angular JS</option>
                        <option>Junit</option>
                        <option>Spring</option>
                        <option>Hibernate</option>
                    </select>
                </fieldset>

                <button type="submit" class="btn btn-secondary">Submit </button>
                <button type="reset" class="btn btn-secondary">Reset </button>

            </form>

        </div>
        <div class="col-lg-6">
            <h4>Location</h4>

            <form role="form">

                <fieldset disabled="">

                    <div class="form-group">
                        <label for="disabledSelect">Location</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="" disabled="">
                    </div>

                    <div class="form-group">
                        <label for="disabledSelect">SOW #</label>
                        <select id="disabledSelect" class="form-control">
                            <option>---</option>
                        </select>
                    </div>

                    <!--div class="checkbox">
                        <label>
                            <input type="checkbox"> Disabled Checkbox
                        </label>
                    </div-->

                    <!--button type="submit" class="btn btn-primary">Disabled Button</button-->

                </fieldset>

            </form>
            <br>

            <h4>Billing details</h4>

            <form role="form">

                <div class="form-group has-success">
                    <label class="form-control-label" for="inputSuccess">Billing type</label>
                    <input type="text" class="form-control form-control-success" id="inputSuccess">
                </div>

                <div class="form-group has-warning">
                    <label class="form-control-label" for="inputWarning">Billing role</label>
                    <input type="text" class="form-control form-control-warning" id="inputWarning">
                </div>

                <div class="form-group has-danger">
                    <label class="form-control-label" for="inputError">Budget Type</label>
                    <input type="text" class="form-control form-control-danger" id="inputError">
                </div>

            </form>

            <!--h4>Input Groups</h4>

            <form role="form">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    
                    <input type="text" class="form-control" placeholder="Username">
                </div>

                <div class="form-group input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-eur"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Font Awesome Icon">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="form-group input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>

            </form>

            <p>For complete documentation, please visit <a target="_blank" href="http://v4-alpha.getbootstrap.com/components/forms/">Bootstrap's Form Documentation</a>.</p>

        </div>
    </div>
    <!-- /.row -->
</div>
